.autocomplete-container {
}

.react-autosuggest__container {

    margin-left: 10px;
    padding: 10px 5px 10px 5px;
}

.react-autosuggest__input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid rgba(63, 81, 181, 0.5);
    border-radius: 4px;
    color: #000;
    background-color: #fff;
}

.react-autosuggest__input::placeholder {
    color: #777;
    opacity: 1;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-list {
    width: 300px;
    margin-top: 8px;
    position: absolute;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    border: 1px solid #eee;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #eee;
    width: 300px;
    white-space: nowrap;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 80%;
}

.highlight {
    background-color: yellow;
    padding: 4px;
    border-radius: 2px;
}

.search-button-container {
    display: inline-block;
    width: 100%;
    position: absolute;
    margin-top: 16px;
}

.search-button-query {
    width: 100%;
    height: 50px;
}

.search-button-search {
    width: 100%;
    height: 50px;
}