.details-root{
    position: relative;
    overflow: auto;
    height: 82vh;
}

.details-media{
    display: 'flex';
    justify-content: center;
    flex-wrap: wrap;
    margin: 4px;
}

.details-avatar{
    background-color: red;
}

.overflow-auto{
    overflow: auto;
}

.margin_4{
  margin: 4px !important;
}

.padding_12_lr{
  padding-left: 12px ;
  padding-right: 12px;
}

/* const useStyles = makeStyles((theme) => ({
    root: {
      position: 'relative',
      height: '82vh',
    },
    media: {
      display: 'flex',
      justifyContent: 'center',
      flexWrap: 'wrap',
      '& > *': {
        margin: theme.spacing(0.5),
      },
    },
    expand: {
      transform: 'rotate(0deg)',
      marginLeft: 'auto',
      transition: theme.transitions.create('transform', {
        duration: theme.transitions.duration.shortest,
      }),
    },
    expandOpen: {
      transform: 'rotate(180deg)',
    },
    avatar: {
      backgroundColor: red[500],
    },
  })); */